.btn_add {
    padding: 0.6rem 1.5rem;
    background: #65a15e;
    border: 1px solid #65a15e;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
}

button:hover {
    transform: scale(0.97);
    cursor: pointer;
    opacity: 0.7;
}

.btn_clear {
    padding: 0.6rem 1.5rem;
    background: rgb(216 5 5);
    border: 1px solid rgb(216 5 5);
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
}